<%- include("header") %>
	<div class="box" id="heading">
		<h1> <%= listTitle %> </h1>
	</div>

	<div class="box">

			<% for(let i = 0; i < newItems.length; i ++) {%>
				<div class="item">
					<input type="checkbox">
					<p><%= newItems[i] %></p>
				</div>
			<% } %> 

			<form action="<%= route %>" method="POST">
				<input type="text" id="item" name="item" placeholder="New ToDo" autocomplete="off">
				<button type="submit" name="list" value=<%= listTitle %>>+</button>
			</form>
	</div>
<%- include("footer") %> 